@charset "utf-8";

$card-color: rgb(0, 155, 159);
$card-background-color: rgba(255, 255, 255, .8);
$title-color: rgb(0, 155, 159);
$subtitle-color: rgb(0, 155, 159);
$button-color: rgb(0, 155, 159);
$button-background-color: rgba(255, 255, 255, 0);
$button-border-color: rgb(0, 155, 159);

@import "../node_modules/bulma/bulma.sass";